@import "lib/bootstrap/bootstrap";
@import "lib/x-navbar/pe-icon-7-stroke.css";
@import "lib/x-navbar/ct-navbar.css";
@import "lib/font-awesome/font-awesome";
@import "lib/pickadate/classic.css";
@import "lib/pickadate/classic.date.css";
@import "lib/inscriptionTemplate/styles";
@import "lib/sweetalert/sweetalert.css";
@import "lib/ng-crop-img/style";

.bg {
  background: url('./../img/bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  background-size: cover;
}

.loader {
  margin-left: 80px;
  margin-top: -80px;
}

.logo {
  position: fixed;
  right: 15px;
  bottom: 15px;
}

.login {
  font-size: 18px;
}

.error-server {
  font-size: 22px;
  font-weight: bolder;
  color: darkred;
}

.login label {
  font-size: 18px;
}

.password {
  font-size: 18px;
}

.password label {
  font-size: 18px;
}

.secon {
  font-size: 17px;
}

.fa-eye {
  color: #A2A2A2;
}

.fa-eye-slash {
  color: #A2A2A2;
}

.cropArea {
  border: solid 1px #FFF;
  background: #222222;
  overflow: hidden;
  width: 250px;
  height: 250px;
}

.imageLabel {
  margin-top: 12px;
}

.form-horizontal .control-label {
  text-align: left;
}

label.required::before {
  content: '*';
  margin-right: 4px;
  color: red;
}

.picker__select--month, .picker__select--year {
  height: 20% !important;
}

.fa-minus-circle {
  color: red;
}