<div class="modal-content">
    <div class="modal-header modalStyle"><h3>Ajout Employé</h3></div>
    <form class="form-horizontal row" name="form" angular-validator-submit="valider()" novalidate angular-validator>
        <div class="modal-body">
            <div class="form-group">
                <label for="login" class="col-sm-3 col-sm-offset-1 control-label required">Login</label>
                <div class="col-sm-7">
                    <input class="form-control" type="text" ng-model="newEmploye.login" name="login"
                           validator="validationLogin(newEmploye.login)" id="login"
                           invalid-message="'Ce champs n\'est pas valide!'"
                           required-message="'Ce champ est obligatoire'"
                           validate-on="submit" required autocomplete="off"/>
                </div>
            </div>
            <div class="form-group">
                <label for="email" class="col-sm-3 col-sm-offset-1 control-label required">Email </label>
                <div class="col-sm-7">
                    <input class="form-control" type="email" ng-model="newEmploye.email" name="email"
                           validator="validationEmail(newEmploye.email)" id="email"
                           invalid-message="'Cet email n\'est pas valide!'"
                           required-message="'Ce champ est obligatoire'"
                           validate-on="submit" required autocomplete="off"/>
                </div>
            </div>

            <div class="form-group">
                <label for="categorie" class="col-sm-3 col-sm-offset-1 control-label required">Catégories</label>
                <div class="col-sm-7">
                    <select class="form-control" id="categorie"
                            ng-model="newEmploye.categorie" name="categorie"
                            validator="validationCategorie(newEmploye.categorie)"
                            invalid-message="'Veuillez choisir une catégorie'"
                            required-message="'Ce champ est obligatoire'"
                            validate-on="submit" required>>
                        <option value="" disabled selected>Categorie</option>
                        <option value="Responsable">Responsable</option>
                        <option value="Cadre">Cadre</option>
                        <option value="Stagiaire">Stagiaire</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default" ng-click="cancel()">Annuler</button>
            <button class="btn btn-primary" type="submit" >Valider</button>
        </div>
    </form>
</div>
