<div class="modal-content">
    <div class="modal-header"><h2>Ajout Employé</h2></div>
    <div class="modal-body">
        <form class="form-horizontal" name="form" angular-validator-submit="valider()" novalidate angular-validator>
            <div class="field-wrap">
                <label for="login" class="required">Login</label>
                <input type="text" ng-model="newEmploye.login" name="login"
                       validator="validationLogin(newEmploye.login)" id="login"
                       invalid-message="'Ce champs n\'est pas valide!'"
                       required-message="'Ce champ est obligatoire'"
                       validate-on="submit" required autocomplete="off"/>
            </div>
            <div class="field-wrap">
                <label for="email" class="required">Email </label>
                <input type="email" ng-model="newEmploye.email" name="email"
                       validator="validationEmail(newEmploye.email)" id="email"
                       invalid-message="'Cet email n\'est pas valide!'"
                       required-message="'Ce champ est obligatoire'"
                       validate-on="submit" required autocomplete="off"/>
            </div>

            <div class="form-group">
                <label for="categorie" class="col-sm-4 control-label required">Catégories</label>
                <div class="col-sm-5">
                    <select class="form-control" id="categorie"
                            ng-model="newEmploye.categorie" name="categorie"
                            validator="validationCivilite(newEmploye.categorie)"
                            invalid-message="'Veuillez choisir une catégorie'"
                            required-message="'Ce champ est obligatoire'"
                            validate-on="submit" required>>
                        <option value="" disabled selected>Civilité</option>
                        <option value="responsable">Responsable</option>
                        <option value="cadre">Cadre</option>
                        <option value="stagiaire">Stagiaire</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="valider()">Confirmer</button>
        <button class="btn" ng-click="cancel()">Annuler</button>
    </div>
</div>
